# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repos\skyrim_special_savegame_parser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
